---
import { Image } from "astro:assets";
import HeaderSections from "../ui/HeaderSections.astro";
import beneficios from "../../data/datos.json";
import imgParacas from "../../assets/galeria/paracas.jpg";
---

<section
    id="beneficios"
    class="flex flex-col justify-center items-center px-6 py-20 bg-gray-200 md:px-12 xl:py-40"
>
    <!-- Header Beneficios -->
    <HeaderSections
        title="Beneficios"
        subtitle="Viaja sin preocupaciones: Nos encargamos de todo"
    />
    <!-- end Header Beneficios -->

    <!-- Beneficios -->
    <div class="max-w-7xl flex flex-row gap-12">
        <!-- Imagen de Paracas -->
        <Image
            class="hidden xl:block w-full object-cover rounded-xl shadow-md"
            src={imgParacas}
            alt="Imagen de islas ballestas"
            width={432}
            height={288}
            format="webp"
            quality={90}
        />
        <!-- end Imagen de Paracas -->
        <!-- beneficios cards -->
        <div class="grid grid-cols-1 gap-4 lg:gap-7 md:grid-cols-2">
            {
                beneficios.beneficios.map((item) => (
                    <div class="flex flex-col gap-2 py-4 px-4 rounded-xl bg-gray-50 shadow-sm">
                        <img
                            class="px-2 py-2 w-12 h-12 bg-amber-300 rounded-xl"
                            src={item.icono}
                            alt="Bus icono"
                        />
                        <h3 class="text-lg font-medium text-gray-800">
                            {item.titulo}
                        </h3>
                        <p class="text-base text-gray-600">
                            {item.descripcion}
                        </p>
                    </div>
                ))
            }
        </div>
        <!-- end beneficios cards /> -->
    </div>
</section>
