---
import HeaderSections from "../ui/HeaderSections.astro";
---

<section
    id="galeria"
    class="flex flex-col justify-center items-center px-6 py-20 bg-gray-50"
>
    <!-- Header Galeria -->
    <HeaderSections
        title="Galería"
        subtitle="Así se vive la experiencia Paracas & Huacachina"
    />
    <!-- end Header Galeria -->

    <!-- Galería -->
    <div class="grid grid-cols-1 gap-7">
        <img class="w-full h-72 object-cover rounded-xl shadow-md" src="/galeria/islas-ballestas.jpg" alt="Imagen de islas ballestas" />
        <img class="w-full h-72 object-cover rounded-xl shadow-md" src="/galeria/islas-ballestas-2.jpg" alt="Imagen de lobos marinos en las islas ballestas" />
        <img class="w-full h-72 object-cover rounded-xl shadow-md" src="/galeria/paracas.jpg" alt="Imagen de playa de Paracas" />
        <img class="w-full h-72 object-cover rounded-xl shadow-md" src="/galeria/islas-ballestas-3.jpg" alt="" />
        <img class="w-full h-72 object-cover rounded-xl shadow-md" src="/galeria/huacachina.jpg" alt="" />
        <img class="w-full h-72 object-cover rounded-xl shadow-md" src="/galeria/dunas.jpg" alt="" />
    </div>
</section>
