---
import Layout from '../layouts/Layout.astro';
import Inicio from '../components/sections/Inicio.astro';
import Itinerario from '../components/sections/Itinerario.astro';
import Beneficios from '../components/sections/Beneficios.astro';
import Galeria from '../components/sections/Galeria.astro';
import Venta from '../components/sections/Venta.astro';
---

<Layout title="Ruta Costera">
	<main class="max-w-dvw">
		<Inicio />
		<Itinerario />
		<Beneficios />
		<Galeria />
		<Venta />
	</main>
</Layout>
